@font-face {
    font-family: 'GreatVibes';
    src: url('fonts/Great_Vibes/GreatVibes.ttf') format('truetype');
}
@font-face {
    font-family: 'CinzelDecorative';
    src: 
    url('fonts/CinzelDecorative/CinzelDecorative-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
}

@media screen and (max-width: 1200px) {
    #visibleMenu {
        display: none;
    }
    #ocultMenu {
        display: flex;
    }
    #changeFontSizeFirstName {
        font-size: 11vw;
    }
    #changeFontSizeLastName {
        font-size: 10vw;
    }
    #mainContentSubText p {
        font-size: 7vw;
    }
}

.menuHiddenButton {
    animation: activatedMenuBottom .3s ease-in-out .1s forwards;
}
.navButtonsMenuHidden {
    animation: activatedMenu .4s ease-in-out .2s forwards;
}


@keyframes activatedMenuBottom {
    to {
        width: 100px;
    }
}

@keyframes activatedMenu {
    to {
        height: 184px;
        opacity: 1;
    }
}