@font-face {
    font-family: 'GreatVibes';
    src: url('fonts/Great_Vibes/GreatVibes.ttf') format('truetype');
}
@font-face {
    font-family: 'CinzelDecorative';
    src: 
    url('fonts/CinzelDecorative/CinzelDecorative-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
}