@font-face {
    font-family: 'GreatVibes';
    src: url('fonts/Great_Vibes/GreatVibes.ttf') format('truetype');
}
@font-face {
    font-family: 'CinzelDecorative';
    src: 
    url('fonts/CinzelDecorative/CinzelDecorative-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'BebasNeue';
    src: url('fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
}

:root {
    --bg-pattern:
            linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
            linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
            linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
            linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
            linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
            linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
}

body::-webkit-scrollbar {
    display: none;
}
body::-moz-scrollbar {
    display: none;
}

@media screen and (max-width: 1200px) {
    #visibleMenu {
        display: none;
    }
    #ocultMenu {
        display: flex;
    }
    #changeFontSizeFirstName {
        font-size: 11vw;
    }
    #changeFontSizeLastName {
        font-size: 10vw;
    }
    #mainContentSubText p {
        font-size: 7vw;
    }
}


@media screen and (max-width: 800px) {
    #mainNameContent {
        top: -2%;
    }

    /* #changeFontSizeLastName {
        transform: translate(22vw, -30px);
    } */
}


.menuHiddenButton {
    animation: activatedMenuBottom .3s ease-in-out .1s forwards;
}
.navButtonsMenuHidden {
    animation: activatedMenu .4s ease-in-out .2s forwards;
}

@keyframes activatedMenuBottom {
    to {
        width: 100px;
    }
}

@keyframes activatedMenu {
    to {
        height: 184px;
        opacity: 1;
    }
}

.menuHiddenButton .menuBars #menuBar1 {
    animation: barRight_Animation .3s ease-in-out .1s forwards;
}
.menuHiddenButton .menuBars #menuBar2 {
    animation: barLeft_Animation .3s ease-in-out .2s forwards;
}
.menuHiddenButton .menuBars #menuBar3 {
    animation: barRight_Animation .3s ease-in-out .3s forwards;
}

@keyframes barRight_Animation {
    to {
        transform: translateX( -10px);
        width: 50%;
    }
}
@keyframes barLeft_Animation {
    to {
        transform: translateX( 10px);
        width: 50%;
    }
}